/* .header {
  background: white;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #333;
  opacity: 0.98;
} */

/* .headerContainer {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
} */


/* .button {
  padding:1rem 2rem;
  border-style: none;
  background: none;
  font-size: 2rem;
  outline: none;
} */

/* .button:hover {
  opacity: 0.5;
  cursor: pointer;
} */
/* .button:active {
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
  transform: translate(0, 2px);
  border-bottom: none;
  opacity: 1;
  outline: none;
} */



.navWrapper {
  font-family: "sans-serif";
  font-weight: bold;
  margin: 0 auto;
  margin-top: 150px;
  width: 300px;
  height: 60vh;
  /* display: flex; */
  /* justify-content: space-between; */
  /* background: rgb(250, 242, 237); */

}

.navManu {
  color: black;
  font-size: 2rem;
  list-style: none;
  
}
.navManu li {
  color: black;
  font-size: 2rem;
  list-style: none;
  
}

.footer {
  background: white;
  position: fixed;
  bottom: 0;
  z-index: 1;
  height: 30px;
  width: 100%;
  background: rgb(235, 235, 235);
  opacity: 0.98;
}

.footer > p {
  text-align: end;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8rem;
  padding: 0 20px;
}


